# Dependências do Node.js
node_modules/

# Variáveis de ambiente
.env

# Logs
*.log

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Configurações do VS Code
.vscode/

# Arquivos de backup
*.tmp
*.bak
